<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset('bundles/app/bootstrap/css/bootstrap.min.css ') }}" />
                <script src="{{ asset('bundles/app/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        Home
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}" class="navbar-link">
                                {{ app.user.username }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default navbar-btn">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default navbar-btn">
                                {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_login') }}" class="btn btn-default navbar-btn">
                                {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="container">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>

    </body>
</html>
