{% extends "AppBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error|trans({}, 'FOSUserBundle') }}
        </div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="password" class="form-control" name="_password" required="required" />
            </div>

            <div class="checkbox">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>
            </div>

            <button type="submit" class="btn btn-default">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
        </form>
        <a href="{{ path('fos_user_registration_register') }}">
            {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
        </a>
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock fos_user_content %}