{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <h1>Quote edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        {# <input type="submit" value="Edit" /> #}
        <button type="submit" class="btn btn-default">Edit</button>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('quote_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                {# <input type="submit" value="Delete"> #}
                <button type="submit" class="btn btn-default">Delete</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock content %}
