{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <h1>Quotes list</h1>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Symbol</th>
                <th>Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quote in quotes %}
            <tr>
                <td><a href="{{ path('quote_show', { 'id': quote.id }) }}">{{ quote.id }}</a></td>
                <td>{{ quote.symbol }}</td>
                <td>{{ quote.count }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('quote_show', { 'id': quote.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('quote_edit', { 'id': quote.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('quote_new') }}" class="btn btn-default">Create a new quote</a>
{% endblock content %}
