{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <h1>Quote creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {# <input type="submit" value="Create" /> #}
        <button type="submit" class="btn btn-default">Create</button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('quote_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock content %}
