{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <h1>Quote</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quote.id }}</td>
            </tr>
            <tr>
                <th>Symbol</th>
                <td>{{ quote.symbol }}</td>
            </tr>
            <tr>
                <th>Count</th>
                <td>{{ quote.count }}</td>
            </tr>
            <tr>
                <th>Bid</th>
                <td>{{ quote.info.bid }}</td>
            </tr>
            <tr>
                <th>Ask</th>
                <td>{{ quote.info.ask }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('quote_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('quote_edit', { 'id': quote.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                {# <input type="submit" value="Delete"> #}
                <button type="submit" class="btn btn-default">Delete</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock content %}
